.body {
	font-family: 'Rationale', sans-serif;
	background: linear-gradient(to bottom, rgb(251,251,251) 0%,rgb(229,229,229) 100%);
	margin: 0;
	padding: 0;
	color: rgb(50,90,140);
}
.info {
	font-family: Arial;
	position: absolute;
	display: block;
	bottom: 5px;
	right: 5px;
	color: #bbb;
	border: 1px solid #bbb;
	border-radius: 6px;
	text-decoration: none;
	text-align: center;
	font-size: 10px;
	width: 12px;
	height: 12px;
	line-height: 12px;
}
.info:focus {
	outline: none;
}
.info:hover {
	color: rgb(50,90,140);
	border: 1px solid rgb(50,90,140);
	cursor: hand;
}
.button {
	border-radius: 2px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	height: 20px;
	width: 36px;
	display: inline-block;
	background: linear-gradient(to bottom, rgb(251,251,251) 0%,rgb(229,229,229) 100%);
	color: rgb(50,90,140);
	font-size: 10px;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
	padding: 0;
}
.button.reset {
	margin-top: 10px;
	margin-left: 17px;
}
.button.presets {
	width: 50px;
	float: right;
	margin-right: 17px;
}
.button.presets select {
	/*dont use display:none -> it will not work*/
	width: 0;
	height: 0;
}
.button .indicator {
	width: 3px;
	height: 11px;
	border-radius: 2px;
	margin-bottom: -3px;
	margin-left: -3px;
	margin-right: 2px;
	background: linear-gradient(to bottom, #777 0%, #888 100%);
	display: inline-block;
	box-shadow: 0 0 1px 0 #aaa;
	transition: all 350ms;
}
.button .indicator.on {
	/*background: linear-gradient(to bottom, #0c0 0%, #0a0 100%);*/
	background: linear-gradient(to bottom, rgb(70,110,160) 0%, rgb(50,90,140) 100%);
	box-shadow: 0 0 1px 0 rgb(70,110,160);
}
.button:hover {
	color: rgb(70,110,170);
	cursor: hand;
}
.button:focus {
	outline: none;
}
.button:active {
	background: linear-gradient(to bottom, rgb(229,229,229) 0%,rgb(251,251,251) 100%);
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	color: rgb(50,90,140);
}
.options {
	padding-bottom: 10px;
	padding-left: 17px;
	padding-top: 10px;
}
.ch-eq-chart {
	width: 330px;
	height: 40px;
	float: right;
	margin-right: 20px;
}
.ch-eq-controls {
	height: 40px;
	padding: 0;
	margin: 0;
}
.ch-eq-slider {
	-webkit-appearance: slider-vertical;
	height: 100px;
	width: 26px;
	cursor: hand;
}
.ch-eq {
	width: 400px;
	color: rgb(50,90,140);
	margin-top: 0px;
	margin-bottom: 0;
	margin-right: 20px;
}
.ch-eq td {
	text-align: center;
	width: 30px;
}
.ch-eq .ch-eq-label {
	font-size: 10px;
	line-height: 12px;
}
.ch-eq .sliders {
	height: 106px;
	background-repeat: no-repeat;
	background-position: center center;
}
.ch-eq-slider.master {
	width: 60px;
}
